.search-bar {
  display: flex;
  justify-content: center;
  width: 60%;
  //
  &__icon {
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
  }
  &__input {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    width: 60%;
    background-color: rgb(245, 245, 245);
    border: none;
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
  }
  &__btn {
    display: block;
    border: none;
    padding: 1.3rem;
    background-color: rgb(243, 126, 0);
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
  }
}
